<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D102</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IllinoisEngrScreenSaver</string>
	<key>CFBundleIdentifier</key>
	<string>IllinoisEngrScreenSaver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.0.4</string>
	<key>CFBundleName</key>
	<string>Illinois Engineering Updates</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.0.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Philip Kuo and The University of Illinois Board of Trustees. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>IllinoisEngrScreenSaver</string>
</dict>
</plist>
